#include <rct3d.rh>

MYMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open", MENU_FILE_OPEN
		MENUITEM "E&xit", MENU_FILE_EXIT
	END
	POPUP "&Setup"
	BEGIN
		MENUITEM "&Resolution", MENU_CONFIG_RESOLUTION

		POPUP "&Detail Level"
		BEGIN
			MENUITEM "&LOW", MENU_DETAIL_LOW
			MENUITEM "&MEDIUM", MENU_DETAIL_MEDIUM
			MENUITEM "&HIGH", MENU_DETAIL_HIGH
		END
	END
END

